<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048965119081-udcod0v177dpkdf68nmfgi3ovup7sp77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048965119081-udcod0v177dpkdf68nmfgi3ovup7sp77</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1048965119081-1ln6knbd3k9dei4hvo7prghutsrpcdbu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDiaI8-T7IcYQhLgpzbPlFjF6BN8QyTvrA</string>
	<key>GCM_SENDER_ID</key>
	<string>1048965119081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.davaoprimecreations.app</string>
	<key>PROJECT_ID</key>
	<string>davaoprimemobile</string>
	<key>STORAGE_BUCKET</key>
	<string>davaoprimemobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048965119081:ios:bc0280bdaffe2df1bff6f8</string>
	<key>DATABASE_URL</key>
	<string>https://davaoprimemobile-default-rtdb.firebaseio.com</string>
</dict>
</plist>